body {
  overflow-x: hidden;
  overflow-y: scroll; }

* {
  font-family: 'Raleway', sans-serif;
  color: #595959;
  letter-spacing: 0.05rem; }

.header {
  background: white;
  border: none;
  letter-spacing: 0.1rem; }
  .header:hover {
    cursor: pointer; }

#main {
  text-align: center;
  margin-top: 9rem;
  font-size: 2.5rem; }
  #main .name-header {
    font-family: 'Playfair Display', serif;
    font-size: 6.25rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #000000;
    margin-bottom: 0rem;
    text-shadow: 0px 6px 6px #E0E0E0; }
  #main .title {
    margin-bottom: 0rem;
    font-weight: bold; }
  #main .primary-button {
    padding: 1.5rem;
    padding-left: 4.25rem;
    padding-right: 4.25rem; }

#body {
  margin-top: 12rem; }
  #body .section-header-no {
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #c6c6c6; }
  #body .section-header {
    font-family: 'Playfair Display', 'serif';
    font-weight: bold;
    color: black;
    letter-spacing: 0.1rem;
    text-shadow: 0px 3px 6px #E0E0E0;
    margin-left: 6.125rem; }
  #body .section-line {
    border-right: 2px solid #c6c6c6; }
    #body .section-line.about {
      max-width: 14.66667%; }

.scrollbar .dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block; }

.project-card {
  margin-bottom: 5rem; }
  .project-card .title {
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: black; }
  .project-card .role {
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0rem; }
  .project-card .type {
    margin-top: 0rem;
    margin-bottom: 0rem; }
  .project-card .date {
    margin-top: 0rem; }
  .project-card .collaboration {
    font-size: 0.8rem; }

.primary-button {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  border: none;
  background: #595959;
  padding: 1rem;
  padding-left: 4.25rem;
  padding-right: 4.25rem;
  box-shadow: 0px 6px 6px #E0E0E0; }
  .primary-button:hover {
    cursor: pointer;
    background: #c6c6c6;
    border-color: #595959;
    color: black; }
  .primary-button:active {
    background: #c6c6c6;
    border-style: none;
    color: black; }

.links {
  background: #E0E0E0; }
  .links #footer {
    padding: 1rem;
    margin: 0 auto;
    display: inline;
    text-align: center; }
    .links #footer a {
      letter-spacing: 0.1rem;
      margin-right: 1rem;
      margin-left: 1rem; }
    .links #footer a:hover {
      cursor: pointer; }

img {
  width: 100%; }
