* {
  font-family: 'Raleway', sans-serif;
  color: #595959; }

.header {
  background: white;
  border: none;
  letter-spacing: 0.1rem; }

#main {
  text-align: center;
  margin-top: 8rem;
  font-size: 2.5rem; }
  #main .name-header {
    font-family: 'Playfair Display', serif;
    font-size: 6.25rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #000000;
    margin-bottom: 0rem;
    text-shadow: 0px 6px 6px #E0E0E0; }
  #main .title {
    margin-bottom: 0rem;
    font-weight: bold; }

.primary-button {
  font-family: 'Raleway', sans-serif;
  border: none;
  background: #595959;
  color: white;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  padding: 1.5rem;
  padding-left: 4.25rem;
  padding-right: 4.25rem;
  box-shadow: 0px 6px 6px #E0E0E0; }

.primary-button:hover {
  font-family: 'Raleway', sans-serif;
  border: none;
  background: #c6c6c6;
  border-color: #595959;
  color: black;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  padding: 1.5rem;
  padding-left: 4.25rem;
  padding-right: 4.25rem;
  box-shadow: 0px 6px 6px #E0E0E0; }

.primary-button:active {
  font-family: 'Raleway', sans-serif;
  border: none;
  background: #c6c6c6;
  border-style: none;
  color: black;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  padding: 1.5rem;
  padding-left: 4.25rem;
  padding-right: 4.25rem;
  box-shadow: 0px 6px 6px #E0E0E0; }
